.list-item {
  color: #9A9A9A;
  margin-bottom: 3px;
  padding-left: 5px;
  font-size: 1.4rem;
}

.instruction-list {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 15px;
  padding-left: 15px;
}
