.hat-claim-password {
  min-height: 60%;

  form {
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
  }
}

.input-password-container {
  display: flex;
  flex-direction: row;

  button {
    margin-top: 4px;
    margin-left: -50px;
    opacity: 0.7;
    background-color: transparent;
    border: none;
  }
}