.hmi-page {
  overflow: auto;
  background-color: #f6f6f6;
  //margin-bottom: 200px;

  .hmi-page-wrapper {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
  }
}

.hmi-section-title {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #1f1f1f;
  margin: 35px 19px 24px;
}

.hmi-text-grey {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #505050;
  padding: 0 24px;

  a {
    color: #6297b1;
    text-decoration: none;
    cursor: pointer;
  }
}

.hmi-separator {
  width: 185px;
  height: 1px;
  margin: 24px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hmi-data-rights-img {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  display: block;
}

.hmi-actions-footer {
  background-color: #f6f6f6;
  padding-left: 15px;
  padding-right: 15px;

  &-content {
    margin: auto;
    max-width: 500px;
    padding: 10px;
    text-align: center;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 22px;

    button {
      border: 1px solid;
      border-radius: 11px;
      cursor: pointer;
      font-size: 16px;
      letter-spacing: 0.32px;
      max-width: 140px;
      padding: 16px 32px;
      text-transform: uppercase;
      width: 48%;
    }

    .primary-action {
      background-color: #6297B1;
      border-color: #6297B1;
      margin-left: 15px;
      color: white;
    }

    .secondary-action {
      background-color: transparent;
      border-color: #767676;
      color: #767676;
    }
  }

  p {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.37px;
    text-align: center;
    color: #a5a5a5;
    margin: 0 1%;

    a {
      color: #6297B1;
      font-weight: 500;
      text-decoration: none;
    }
  }

  .tos-text {
    font-size: 12px;
    letter-spacing: 0.22px;
    line-height: 16px;
    text-align: center;
    width: 440px;
    max-width: 90%;
    color: #505050;
    margin: 23px auto 35px;
  }

  .hmi-id-text {
    margin-bottom: 16px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    text-align: center;
    color: #505050;
  }
}

.hmi-data-debit {
  padding-top: 40px;
}

.hmi-data-share-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .data-share-logo {
    height: 48px;
    width: 48px;
    border-radius: 50px;
  }

  .data-share-icon {
    margin-right: 2px;
    height: 48px;
  }
}

.hmi-card {
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: #e5e5e5;
  align-items: center;
  margin: 16px auto;
  border-radius: 27px;
  padding: 21px 22px;
  min-height: 90px;
  box-sizing: border-box;

  .hmi-card-img-wrapper {
    margin: auto 20px auto auto;

    .hmi-card-img {
      border-radius: 50%;
      max-width: 40px;
    }

    &-expanded {
      align-self: flex-start;
    }
  }
}

.hmi-card-title {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #1f1f1f;
}

.hmi-card-subtitle {
  font-size: 14px;
  margin-top: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #1f1f1f;
}

.hmi-data-debit-list-wrapper {
  margin-bottom: 8px;
}

.hmi-data-debit-list {
  padding-left: 40px;

}

.MuiExpansionPanel-root {
  margin: 16px 20px !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12) !important;
  border-radius: 4px !important;

  &:before {
    top: 0 !important;
    background-color: white !important;
    height: 0 !important;
  }
}

.MuiButtonBase-root.MuiExpansionPanelSummary-root.Mui-expanded {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.MuiExpansionPanelDetails-root {
  padding: 16px 20px !important;
}

.rating-privacy-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9a9a9a;
  padding: 0 24px;

  a {
    color: #6297b1;
    text-decoration: none;
  }
}

.list-item {
  color: #9A9A9A;
  margin-bottom: 3px;
  padding-left: 5px;
  font-size: 1.4rem;
}

.instruction-list {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 15px;
  padding-left: 15px;
}


