.app-card-container {
  width: 90%;
  min-height: 90px;
  padding: 2.1rem 2.2rem;
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
  align-items: center;
  margin: 1.6rem auto;
  border-radius: 27px;
  box-sizing: border-box;

  .app-card-img-wrapper {
    height: 4.8rem;
    width: 4.8rem;
    background: #9a9a9a;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 2.6rem;
      height: 1.8rem;
    }
  }

  .app-card-img {
    &-facebook, &-facebook-sandbox {
      background: #4267B2;
    }
    &-twitter {
      background: #4AA0EB;
    }
    &-instagram {
      background: #E1306C;
    }
    &-spotify {
      background: #00D95F;
    }
    &-google-calendar {
      background: #4F83E9;
    }
    &-fitbit {
      background: #66AAB5;
    }
  }

  .app-card-name {
    margin-left: 13px;
    font-size: 1.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    color: #1f1f1f;
  }
}
