@import '../../../assets/styles/branding';

.title-section {
  align-items: center;
  border-bottom: solid 1px #e0e0e0;

  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  max-width: 500px;
  padding: 0 30px 30px;
  text-align: center;

  .app-logo-wrapper {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    margin-top: 50px;
    padding: 6px;

    .app-logo {
      border-radius: 50%;
    }
  }

  .app-rating-wrapper {
    background-color: #fff;
    border-radius: 4px;
    margin-top: -20px;
    padding: 6px;
    position: relative;

    &::before {
      border: solid transparent;
      border-bottom-color: #fff;
      border-radius: 4px;
      border-width: 5px 35px;
      content: ' ';
      left: 5px;
      position: absolute;
      top: -10px;
    }

    .app-rating {
      background-color: #dfc586;
      color: #fff;
      font-size: 12px;
      padding: 2px 0;
      position: relative;
      text-align: center;
      width: 70px;

      &::before {
        border: solid transparent;
        border-bottom-color: #dfc586;
        border-width: 5px 35px;
        content: ' ';
        left: 0;
        position: absolute;
        top: -10px;
      }

      &-highlighted {
        font-weight: bold;
      }

      &-italicized {
        font-style: italic;
      }
    }
  }

  .title-section-heading {
    color: $app-dark-tone;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
  }

  .title-section-text {
    color: $app-dark-tone;
    font-size: 14px;
    line-height: 1.57;
    margin: auto;
  }
}

.update-notes-section {
  max-width: 500px;
  padding: 10px 30px;
  width: 100%;

  .section-header {
    color: $app-dark-tone;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .app-update-notes {
    list-style-type: none;
    padding: 0;

    &-item {
      color: #505050;
      display: flex;
      font-size: 1.4rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.4px;
      margin: 15px 0;
      text-align: center;

      &-icon {
        color: $app-accent-color;
        font-size: 20px;
        margin-right: 10px;
      }

      &-content {
        color: $app-dark-tone;
        font-size: 14px;
        line-height: 1.57;
        text-align: justify;
      }
    }
  }
}
