.title-hat-domain-wrapper {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.hat-name {
  display: inline-block;
}

.hat-domain {
  display: inline-block;
}
