.rating-privacy-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9a9a9a;
  padding: 0 24px;

  a {
    color: #6297b1;
    text-decoration: none;
  }
}