.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  margin: -100px 0 0 -100px;
}

.loading-spinner,
.loading-spinner::before,
.loading-spinner::after {
  border: 2px solid rgba(74, 85, 107, 0.6);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.loading-spinner {
  margin: 20px auto;
  height: 75px;
  width: 75px;
  mask-border: linear-gradient(rgba(74, 85, 107, 1), rgba(74, 85, 107, 0.1) 50%);
  -webkit-animation: animation-rotate 1250ms linear infinite;
  -moz-animation: animation-rotate 1250ms linear infinite;
  -o-animation: animation-rotate 1250ms linear infinite;
  animation: animation-rotate 1250ms linear infinite;
}

.loading-text {
  color: rgba(74, 85, 107, 0.6);
  font-size: 14px;
  font-variant: small-caps;
  text-align: center;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}
