.hat-claim-success {
  h2 {
    margin: 0;
  }

  h3 {
    font-size: 1.8rem;
  }

  .text-medium {
    font-size: 1.4rem;
    letter-spacing: 0.25px;
    line-height: 1.57;
    margin: 2.5rem auto;
  }
}

.your-hat-issuer {
  color: #9a9a9a;
  font-size: 1.6rem;
  line-height: 1.57;
  margin-bottom: 1rem;
  margin-top: 7rem;
}

.issuer-logo {
  margin-bottom: 3.9rem;
  text-align: center;
  width: 100%;

  img {
    max-width: 18.6rem;
    width: 35%;
  }
}

.drp-image {
  text-align: center;
  width: 100%;

  img {
    max-height: 10rem;
    max-width: 10rem;
    width: 25%;
  }
}
