/* stylelint-disable selector-no-qualifying-type -- This is allowed. */

.hat-claim-email {
  input[type='email'] {
    margin-bottom: 1.6rem;
    margin-top: 2.4rem;
  }

  .text-small {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
