.password-recover {
  align-items: center;
  background-color: #f6f6f6;
  justify-content: center;
  min-height: 100vh !important;

  &-title {
    margin-bottom: 5rem;
  }

  &-description {
    color: #9a9a9a;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 1.57;
    margin: 2.5rem 0;
    text-align: center;
  }

  .notification {
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    max-width: 424px;
    padding: 15px;
    width: 100%;
  }

  .notification-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }

  .notification-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
}
