@import '../../assets/styles/branding';

.auth-login {
  align-items: center;
  background-color: #fff;
  height: auto;

  input {
    height: auto;
  }

  @media (max-width: 500px) {
    padding-left: 55px;
    padding-right: 55px;
  }

  @media (max-width: 400px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  &-email-title {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &-title {
    color: #1c1e20;
    font-family: $font-auth-standard;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 500px;
    text-align: center;
  }

  &-logo-wrapper {
    height: 81px;
    margin: 119px auto 30px;
    max-width: 214px;
    min-width: 80px;

    @media (max-width: 500px) {
      margin: 69px auto 30px;
    }

    img {
      height: 100%;
      max-width: 214px;
      min-width: 80px;
    }
  }

  &-btn {
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  hr {
    border-top: 1px solid #e5e6e3;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 380px;

    @media (max-width: 500px) {
      width: 90%;
    }
  }

  &-have-an-account {
    color: #696a6d;
    font-family: $font-auth-standard;
    font-size: 1.2rem;
    letter-spacing: 0;
  }

  &-btn-signup {
    background-color: transparent;
    border: 1px solid $ds-accent-color;
    color: $ds-accent-color;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  &-btn-link {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    color: $ds-accent-color;
    cursor: pointer;
    display: block;
    font-family: $font-auth-standard;
    font-size: 1.2rem;
    font-weight: 400;
    height: 4.8rem;
    letter-spacing: 0;
    margin-top: 17px;
    text-align: center;
    text-decoration: underline;
    touch-action: manipulation;
    white-space: nowrap;
    width: 25rem;
  }

  &-btn-secondary {
    background-color: transparent;
    border: 1px solid transparent;
    color: $ds-accent-color;
    font-family: $font-auth-standard;
    font-size: 1.2rem;
    letter-spacing: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;

    @media (max-width: 500px) {
      margin-top: 30px;
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  &-text {
    color: #9b9b9d;
    cursor: pointer;
    font-family: $font-auth-standard;
    font-size: 1.2rem;
    letter-spacing: -0.12px;
    line-height: 1.6rem;
    margin-bottom: 50px;
    margin-top: 20px;
    max-width: 196px;
    text-align: center;

    span {
      color: #9f97bf;
      text-decoration: underline;
    }
  }

  &-help-text {
    color: #9b9b9d;
    font-family: $font-auth-standard;
    font-size: 1.4rem;
    letter-spacing: -0.12px;
    line-height: 1.8rem;
    max-width: 250px;
    text-align: center;
  }

  &-progress-text {
    color: #696a6d;
    font-family: $font-auth-standard;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 1.4rem;
    margin-bottom: 120px;
    max-width: 250px;
    text-align: center;
  }
}

.auth-recover-password-btn {
  background-color: #f45f09;
  border: 1px solid #f45f09;
  color: #fff;
  font-family: $font-auth-secondary;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1.4px;
  margin-bottom: 100px;
}

.auth-change-password {
  .ds-hmi-btn {
    margin-top: 15px;
  }

  .auth-login-text {
    margin-bottom: 0;
    margin-top: 15px;
  }

  .ds-input-wrapper {
    margin-bottom: 5px;
    margin-top: 15px;
  }

  .ds-input-wrapper:not(:first-of-type) {
    margin-bottom: 0;
  }
}
