@import '../../../assets/styles/branding';

.change-password-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5rem;
  align-items: center;
  min-height: 100%;

  .title-container {
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 0 20px;
    text-align: center;

    .change-password-title {
      letter-spacing: 0.6px;
      color: $app-dark-tone;
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.4;
    }
  }

  .change-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;

    .change-password-description {
      text-align: center;
      letter-spacing: 0.25px;
      color: $ds-dusty-gray-color;
      margin: 25px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.57;
    }

    input {
      max-width: 600px;
    }

    .change-password-recommend {
      text-align: center;
      letter-spacing: 0.4px;
      color: #acacac;
      margin: 25px 0;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.33;
    }
  }

  .change-password-actions {
    margin-top: 100px;
  }

  .notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
    font-size: 1.4rem;

    i {
      margin-right: 5px;
    }
  }

  .notification-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  .notification-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}
