.app-error {
  border: solid 2px #e36682;
  border-radius: 4px;
  color: #e36682;
  margin: 30px auto;
  max-width: 500px;
  padding: 20px;

  &-header {
    font-size: 22px;
    margin-top: 0;
  }

  &-text {
    font-size: 14px;
  }

  button {
    margin-top: 1.1rem;
  }

  @media (max-width: 500px) {
    margin: 30px 20px;
  }
}

.hat-login-notification {
  align-items: center;
  display: flex;
  flex-direction: column;

  a {
    font-size: 1.6rem;
  }

  button {
    margin-top: 1.1rem;
  }
}
