.hmi-data-debit {
  padding-top: 40px;
}

.hmi-data-share-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .data-share-logo {
    height: 48px;
    width: 48px;
    border-radius: 50px;
  }

  .data-share-icon {
    margin-right: 2px;
    height: 48px;
  }
}

.hmi-card {
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin: 16px 20px;
  padding: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);

  .hmi-card-img-wrapper {
    margin: auto;
    margin-right: 20px;


    .hmi-card-img {
      border-radius: 50%;
      max-width: 40px;
    }

    &-expanded {
      align-self: flex-start;
    }
  }
}

.hmi-card-title {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #4a556b;
}

.hmi-card-subtitle {
  font-size: 14px;
  margin-top: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9a9a9a;
}

.hmi-data-debit-list-wrapper {
  margin-bottom: 8px;
}

.hmi-data-debit-list {
  padding-left: 40px;

}

.MuiExpansionPanel-root {
  margin: 16px 20px !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12) !important;
  border-radius: 4px !important;

  &:before {
    top: 0 !important;
    background-color: white !important;
    height: 0 !important;
  }
}

.MuiButtonBase-root.MuiExpansionPanelSummary-root.Mui-expanded {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.MuiExpansionPanelDetails-root {
  padding: 16px 20px !important;
}
