.progress-bar {
  width: 100%;
  height: 6px;
  border-radius: 8px;
  background-color: #E5E6E3;
  overflow: hidden;
  max-width: 260px;
  margin: 30px auto 17px;

  .progress-bar-blue {
    height: 6px;
    width: 100%;
    border-radius: 8px;
    background-color: #20154e;
  }
}
