.progress-bar {
  width: 100%;
  height: 6px;
  border-radius: 2px;
  margin: 8px auto;
  background-color: #e4e8eb;
  overflow: hidden;

  .progress-bar-blue {
    height: 6px;
    width: 100%;
    background-color: #4a556b;
  }
}
