@import 'branding';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 62.5%;
  }
}

body {
  background-color: $app-background-color;
  font-family: $font-standard;
  font-weight: 400;
  line-height: 1.6;
}

html,
body,
#root,
#root > div {
  min-height: 100%;
}
