/* The container */
.checkbox-container {
  color: #4a4950;
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin-bottom: 1.2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 3rem;
  position: relative;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  background-color: #fff;
  border: 1px solid #d2d0dc;
  border-radius: 4px;
  height: 18px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
  background-color: #d2d0dc;
}

/* On disabled, add a grey background color */
.checkbox-container input:disabled ~ .checkbox-checkmark {
  background-color: #d2d0dc;
  cursor: default;
}

.checkbox-container > label {
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: #20154e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark::after {
  content: '';
  display: none;
  position: absolute;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark::after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  height: 8px;
  left: 6px;
  top: 3px;
  transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
  width: 4px;
}
