@import "branding";

header {
  position: inherit;
}

.app-header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 62px; // Fix this to 6.2rem when migrate everything
  background-color: $app-dark-tone;
  color: #fff;

  &-fixed {
    position: fixed;
  }

  &-content {
    padding: 0 4.0rem;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &-logo {
    height: 4rem;
  }

  .text-medium {
    color: white;
  }

  &-learn-more {
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 4px;
    padding: 1.0rem 4.0rem;
    margin: 1.0rem 0 1.0rem 3.0rem;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
      text-decoration: none;
    }

    &:focus {
      //outline: none;
    }
  }

  &-btn-no-border {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 0.6rem 1.4rem;
    min-width: 85px;
    min-height: 32px;
    letter-spacing: 0.13px;
    opacity: 0.8;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    border: 1px solid transparent;
    background-color: transparent;
  }

  &-btn-with-border {
    font-family: 'Roboto', sans-serif;
    opacity: 0.8;
    padding: 0.6rem 1.4rem;
    min-width: 85px;
    min-height: 32px;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.13px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1.5px solid #ffffff;
    background-color: transparent;
  }

  &-btn-help {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    padding: 0.6rem 1.4rem;
    font-size: 18px;
    text-align: center;
    opacity: 0.8;

    i {
      font-size: 22px;
    }
  }
}

.app-header-hide-mobile {
  @media (max-width: 850px) {
    display: none;
  }
}

