@import 'branding';

/* stylelint-disable selector-no-qualifying-type -- This is allowed. */

input[type='text'],
input[type='password'],
input[type='email'] {
  appearance: none;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  color: $app-dark-tone;
  font-size: 1.8rem;
  font-weight: 500;
  height: 5rem;
  max-width: 424px;
  padding: 1.5rem 2rem;
  width: 100%;

  &.rum-error-field {
    border: solid 1px #e45151;
    color: #e45151;
  }

  @media (min-width: $bp-smallest) {
    &::placeholder {
      padding-top: 4px;
    }
  }

  @media (max-width: $bp-smallest) {
    border-left: 0;
    border-right: 0;
  }

  &::placeholder {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
  }
}

form {
  max-width: 424px;
  width: 100%;
}
