.notification-banner-container {
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  justify-content: center;
  left: 0;
  letter-spacing: 0.4px;
  padding: 1.5rem 0.5rem;
  right: 0;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 10000;

  &-error {
    background-color: #fadcdc;
    border-bottom: solid 1px #e45151;
    color: #e45151;
  }

  &-icon {
    margin-right: 17px;
    vertical-align: middle;
  }
}

.notification-fixed {
  position: fixed;
}

.notification-banner-close {
  right: 16px;
  top: 16px;
}
