.login {
  align-items: center;
  background-color: #f6f6f6;
  height: auto;
  justify-content: center;
  min-height: 100vh !important;
  overflow: auto;

  @media (min-width: 851px) {
    padding-top: 62px;
  }

  form {
    align-items: center;
    justify-content: center;
  }

  hr {
    background-color: #000;
    border: 0;
    border-top: 1px solid #eee;
    height: 1px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 320px;
    width: 80%;
  }

  .login-remember-me-container {
    margin-top: 8px;

    label {
      color: #4a556b;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.25px;
    }
  }

  &-dataswift-logo {
    height: 7.5rem;
    margin-top: 30px;
    width: 17rem;
  }

  .issuer-logo {
    text-align: center;
    width: 100%;

    img {
      max-width: 186px;
    }
  }

  @media (max-height: 619px) {
    .issuer-logo {
      img {
        margin-top: 10px;
      }
    }
  }

  .drp-image {
    text-align: center;
    width: 100%;

    img {
      max-height: 100px;
      max-width: 100px;
      width: 25%;
    }
  }

  .data-rights-description {
    color: #9a9a9a;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5;
    margin: 16px auto 0;
    max-width: 500px;
    opacity: 0.87;
    text-align: center;
    width: 90%;
  }
}

.login-password-container {
  width: 400px;
  @media (max-width: 450px) {
    width: 100%;
  }
}

.input-password-container {
  display: flex;
  flex-direction: row;

  button {
    background-color: transparent;
    border: 0;
    margin-left: -50px;
    margin-top: 4px;
    opacity: 0.7;
  }

  input {
    padding-right: 6rem;
  }
}

.user-actions {
  * {
    display: block;
    margin: 1.5rem auto;
    text-align: center;
    width: 250px;
  }

  .btn-transparent-grey {
    margin-top: 0;
  }
}

.title-hat-domain-wrapper {
  margin-bottom: 5rem;
  margin-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.hat-name,
.hat-domain {
  display: inline-block;

  h3 {
    font-size: 1.8rem;
  }
}
