@import '../../assets/styles/branding';

.password-strength {
  margin-top: 8px;
  z-index: 0;

  &-message {
    font-family: $font-auth-standard;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -0.12px;
    line-height: 1.6rem;
    margin: 7px auto 0;
    max-width: 196px;
    text-align: center;
  }

  &-text {
    color: #9b9b9d;
    font-family: $font-auth-standard;
    font-size: 1.2rem;
    letter-spacing: -0.12px;
    line-height: 1.6rem;
    margin: 20px auto 50px;
    max-width: 196px;
    text-align: center;

    a {
      color: #9f97bf;
      text-decoration: underline;
    }

    span {
      color: #f45f09;
    }
  }
}
