@import "../../assets/styles/branding";

.password-strength-meter {
  width: 100%;
  max-width: 42.4rem;

  @media (max-width: $bp-smallest) {
    width: 90%;
  }
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0.3rem;
  text-align: center;
  width: 100%;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: $progress-bar-background-color;
  border-radius: 3px;
}

.password-strength-meter-label {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0;
  margin-top: 0.5rem;
  object-fit: contain;
  text-align: left;
}

.password-strength-meter-progress::-webkit-progress-value {
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 2px;
}

// support different colors for Webkit (Chrome, safari)

.strength-0::-webkit-progress-value {
  background-color: $progress-bar-weak;
}

.strength-1::-webkit-progress-value {
  background-color: $progress-bar-weak;
}

.strength-2::-webkit-progress-value {
  background-color: $progress-bar-average;
}

.strength-3-::-webkit-progress-value {
  background-color: $progress-bar-strong;
}

.strength-4::-webkit-progress-value {
  background-color: $progress-bar-strong;
}

// support different colors for Mozilla Firefox

.strength-0::-moz-progress-bar {
  background-color: $progress-bar-weak;
}

.strength-1::-moz-progress-bar {
  background-color: $progress-bar-weak;
}

.strength-2::-moz-progress-bar {
  background-color: $progress-bar-average;
}

.strength-3::-moz-progress-bar {
  background-color: $progress-bar-strong;
}

.strength-4::-moz-progress-bar {
  background-color: $progress-bar-strong;
}

// support different colors for Microsoft Edge

.strength-0::-ms-fill {
  background-color: $progress-bar-weak;
}

.strength-1::-ms-fill {
  background-color: $progress-bar-weak;
}

.strength-2::-ms-fill {
  background-color: $progress-bar-average;
}

.strength-3::-ms-fill {
  background-color: $progress-bar-strong;
}

.strength-4::-ms-fill {
  background-color: $progress-bar-strong;
}

.text-strength-0 {
  color: $progress-bar-weak;
}

.text-strength-1 {
  color: $progress-bar-weak;
}

.text-strength-2 {
  color: $progress-bar-average;
}

.text-strength-3 {
  color: $progress-bar-strong;
}

.text-strength-4 {
  color: $progress-bar-strong;
}
