name: CI

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - dev

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: ${{ secrets.SSH_HMI_LIBRARY }}

      - name: Setup NODEJS
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com

      - name: Cache
        uses: actions/cache@v2.1.4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install
        run: yarn install --network-concurrency 1
        env:
          NODE_AUTH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test

      - name: Build
        run: PUBLIC_URL=/assets yarn build
